{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Contacto
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col">
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <h1>Contactanos</h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="">Correo electronico</label>
                <input type="email" class="form-control" name="email" required>
                <label for="">Mensaje</label>
                <textarea name="mensaje" cols="30" rows="10" class="form-control" required></textarea>
                <br>
                <input type="submit" class="btn btn-outline-primary">
            </form>
        </div>
    </div>
{% endblock %}