{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    {{ curso_ofertado.curso.titulo }} - CURSOSPRO
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        <div class="col">
            <h1>{{ curso_ofertado.curso.titulo }}</h1>
            <p>{{ curso_ofertado.estatus.nombre }}</p>
            <p>{{ curso_ofertado.curso.categoria.nombre }}</p>
            <img src="https://via.placeholder.com/440x260" class="card-img-top" alt="...">
            <p>{{ curso_ofertado.instructor }}</p>
            <p>${{ curso_ofertado.precio }}</p>
            <p>
                {{ curso_ofertado.curso.descripcion }}
            </p>
            {% if not inscrito %}
                <a href="{% url 'website:inscripcion_curso' curso_ofertado.pk %}" class="btn btn-primary">Pre
                    inscribirme</a>
            {% else %}
                <h3 class="text-success">Ya inscrito</h3>

            {% endif %}

        </div>
    </div>
{% endblock %}