{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Incio
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        <div class="col">

            <div class="card mb-2">
                <div class="card-body">
                    <form>
                        {{ form }}
                        <button type="submit" class="btn btn-sm btn-outline-primary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>

            {% for curso_ofertado in curso_ofertado_lista %}
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/640x360" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ curso_ofertado.curso.titulo }}</h5>
                        <p>{{ curso_ofertado.instructor }}</p>
                        <p>${{ curso_ofertado.precio }}</p>
                        <p>Sede: {{ curso_ofertado.get_sede_display }}</p>
                        <a href="{% url 'website:detalle_curso' curso_ofertado.id %}" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        let nombre_curso_input = document.getElementById("id_nombre_curso");
        let categoria_select = document.getElementById("id_categorias");

        nombre_curso_input.value = '{{ request.GET.nombre_curso }}';
        //nombre_curso_input.classList.add("form-control");

        categoria_select.value = '{{ request.GET.categorias }}'
        //categoria_select.classList.add("form-select");

    </script>
{% endblock %}