{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Preinscripcion {{ curso_ofertado.curso.titulo }} - CURSOSPRO
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        <div class="col">
            <h2>Preinscripcion al curso {{ curso_ofertado.curso.titulo }}</h2>
            <p>Adjuntar los siguientes documentos para la preinscripcion</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-outline-primary" value="Preinscribirme">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}