<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'website:index' %}">CURSOSPRO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'website:index' %}">Inicio</a>
                </li>

                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"#}
                {#                       aria-expanded="false">#}
                {#                        Categorias#}
                {#                    </a>#}
                {#                    <ul class="dropdown-menu">#}
                {#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
                {#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
                {#                        <li>#}
                {#                            <hr class="dropdown-divider">#}
                {#                        </li>#}
                {#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'website:quienes_somos' %}">Quienes somos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'website:contacto' %}">Contacto</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'usuarios:perfil_alumno' %}">Mi perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'website:registro_alumno' %}">
                            Registrarse
                        </a>
                    </li>
                {% endif %}


            </ul>
            {% if request.user.is_authenticated %}
                <span class="navbar-text mx-2">
                    {{ request.user }}
            </span>
            {% endif %}

            {% if request.path == '/' %}
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar cursos..." aria-label="Search"
                           name="search" value="{{ request.GET.search }}">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            {% endif %}

        </div>
    </div>
</nav>