{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Quiene somos
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Quienes somos</h1>
            <img src="http://placeimg.com/640/360/any" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in iure numquam rem temporibus vero
                voluptatum! Aperiam architecto aspernatur, commodi cumque esse explicabo ipsa nulla quisquam similique
                suscipit, tempora, vitae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in iure numquam rem temporibus vero
                voluptatum! Aperiam architecto aspernatur, commodi cumque esse explicabo ipsa nulla quisquam similique
                suscipit, tempora, vitae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in iure numquam rem temporibus vero
                voluptatum! Aperiam architecto aspernatur, commodi cumque esse explicabo ipsa nulla quisquam similique
                suscipit, tempora, vitae!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda autem commodi,
                ducimus eius eos error est excepturi necessitatibus nisi nobis officia pariatur provident quidem
                recusandae repellendus sunt vitae?</p>
        </div>
    </div>
{% endblock %}