{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Iniciar sesion
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col">

            {% if form.errors %}
                <p>Usuario o contraseña incorrectos. Por favor intentalo de nuevo.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Inicia sesion para acceder a esta pagina</p>
                    <p>o tambien te puedes <a href="{% url 'website:registro_alumno' %}">registrar</a></p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="Aceptar" class="btn btn-outline-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>

        </div>
    </div>
{% endblock %}