{% extends 'website/base_website.html' %}
{% load i18n static %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <label for="id_email">{% translate 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
            </form>

        </div>
    </div>

{% endblock %}
