{% extends "website/base_website.html" %}
{% load i18n %}


{% block contenido %}

    <div class="row">
        <div class="col">
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

        </div>
    </div>

{% endblock %}
