{% extends "website/base_website.html" %}
{% load i18n %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>
        </div>
    </div>


{% endblock %}
