{% extends 'website/base_website.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Contraseña cambiada correctamente</h1>
        </div>
    </div>
{% endblock %}
