{% extends 'website/base_website.html' %}

{% block contenido %}

    <div class="row">
        <div class="col">
            <form method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}
                                "Please correct the error below."
                            {% else %}
                                "Please correct the errors below."
                            {% endif %}
                        </p>
                    {% endif %}


                    <p> Please enter your old password, for security’s sake, and then enter your new password twice so
                        we can verify you typed it in correctly.</p>

                    <fieldset class="module aligned wide">

                        <div class="form-row">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }} {{ form.old_password }}
                        </div>

                        <div class="form-row">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            {% if form.new_password1.help_text %}
                                <div class="help"{% if form.new_password1.id_for_label %}
                                     id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-row">
                            {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                                <div class="help"{% if form.new_password2.id_for_label %}
                                     id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="Change my password" class="default">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
