{% extends 'dashboard/base_dashboard.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Cursos ofertados</h1>
            {% if perms.cursos.add_cursoofertado %}
                <a href="#">Nuevo curso</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for cursos_ofertado in cursos_ofertados %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cursos_ofertado.curso.titulo }}</td>
                        <td>{{ cursos_ofertado.estatus }}</td>
                        <td>
                            {% if perms.cursos.change_cursoofertado %}
                                <a href="#">Editar</a>
                            {% endif %}
                            {% if perms.cursos.delete_cursoofertado %}
                                <a href="#">Borrar</a>
                            {% endif %}


                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>


{% endblock %}