{% extends 'dashboard/base_dashboard.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Preinscripciones</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th>Prospecto</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for preinscripcion in preinscripciones_lista %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ preinscripcion.curso.curso.titulo }}</td>
                        <td>{{ preinscripcion.prospecto.first_name }}</td>
                        <td>{{ preinscripcion.estatus }}</td>
                        <td>
                            <a href="{% url 'dashboard:preinscripcion_editar' preinscripcion.pk %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}