{% extends 'dashboard/base_dashboard.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Preinscripcion - editar</h1>
            <p>Curso: {{ preinscripcion.curso.curso.titulo }}</p>
            <p>Prospecto: {{ preinscripcion.prospecto.first_name }}</p>
            <p>Comprobante de domiclio: <a href="{{ preinscripcion.comprobante_domicilio.url }}" target="_blank">Ver</a>
            </p>
            <p>CURP: <a href="{{ preinscripcion.curp.url }}" target="_blank">Ver</a></p>
            <p>Identificacion oficial: <a href="{{ preinscripcion.identifacion_oficial.url }}" target="_blank">Ver</a>
            </p>
            <p>Comprobante de pago: <a href="{{ preinscripcion.comprobante_pago.url }}" target="_blank">Ver</a></p>
            <p>Acta de nacimiento: <a href="{{ preinscripcion.acta_nacimiento.url }}" target="_blank">Ver</a></p>
            <p>Fecha de solicitud: {{ preinscripcion.fecha_solicitud }}</p>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-hover">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-outline-primary" value="Guardar">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


{% endblock %}