<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Inicio
                </a>
            </li>
            {% if perms.cursos.view_cursoofertado %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard:lista_curso' %}">
                        <span data-feather="file" class="align-text-bottom"></span>
                        Cursos
                    </a>
                </li>
            {% endif %}


            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:preinscripciones' %}">
                    <span data-feather="file" class="align-text-bottom"></span>
                    Preinscripciones
                </a>
            </li>

        </ul>

        {% comment %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Current month
                </a>
            </li>
        </ul>
        {% endcomment %}
    </div>
</nav>