{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block titulo_tab %}
        Sistema
        {% endblock %}
    </title>
    <link href="{% static 'bs522/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/fa_all.min.css' %}" rel="stylesheet">
</head>
<body>

{% block navbar %}

{% endblock %}

<div class="container">
    {% block contenido %}

    {% endblock %}
</div>
<script src="{% static 'bs522/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'fontawesome/fa_all.min.js' %}"></script>

{% block extra_js %}

{% endblock %}
</body>
</html>