{% extends 'website/base_website.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h3>Mis cursos</h3>

            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <table class="table">
                <thead>
                <tr>
                    <th>Curso</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>
                            <a href="{% url 'usuarios:curso_detalle_alumno' curso.pk %}">
                                {{ curso }}
                            </a>
                        </td>
                        <td>{{ curso.estatus }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}