{% extends 'website/base_website.html' %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h3>Detalle del curso: {{ curso.curso.curso.titulo }}</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-hover">
                    {{ form.as_table }}
                    {% if curso.estatus.nombre != 'Aceptado' %}
                        <tr>
                            <td>
                                <input type="submit" value="Actualizar">
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </form>

        </div>
    </div>
{% endblock %}