{% extends 'website/base_website.html' %}

{% block titulo_tab %}
    Mi perfil
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Mi perfil </h1>

            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-outline-primary" value="Actualizar">
                        </td>
                    </tr>
                </table>
            </form>
            <a href="{% url 'change_password' %}">Cambiar contraseña</a>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col">
            <ul>
                <li><a href="{% url 'usuarios:perfil_alumno_cursos' %}">Mis cursos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}